{% load static %}
<footer class="footer" style="background-color:#2B2E38">
  <div class="footer-wrapper">
    <div class="left-side">
      IctKaryera Copyright @ 2020
    </div>
    <div class="right-side">
      <span>
  
        <a style="color: #2b2e38;" onmouseover="" href="mailto:info@ictkaryera.az">
          <i>info@ictkaryera.az</i>
        </a>
      </span>
      <span class="social-media-item">
        <a href="https://www.facebook.com/groups/ictkaryera">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </span>
      <span class="social-media-item">
        <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </span>
      <span class="social-media-item">
        <a><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </span>
    </div>
  </div>
</footer>

<!-- <li style='color:white' class='mt-4'>  IctKaryera Copyright @ 2020</li> -->

<!-- <li> <a style='color:white' onmouseover="" href="mailto:info@ictkaryera.az"> <i>info@ictkaryera.az</i></a></li>
							<li> <a style='color:white' onmouseover=""> <i></i></a></li>
							<li><a href="https://www.facebook.com/groups/ictkaryera"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
	 
 -->
